.blue{
    background: #66CCFF;
    height: 2000px;
    margin: 0;
    padding: 0;
  }

.white{
    background: #ffffff;
}

a{
    font-family: 'Anton', sans-serif, bold;
    
}

.list-group{
    text-align: center;

}

/* .row{
    height: 100%;
    margin: 0;
    padding: 0;
} */